* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

:root {
  --scrollbar-color: theme('colors.zinc.800');
  --scrollbar-color-hover: theme('colors.zinc.700');
  --scrollbar-color-active: theme('colors.zinc.600');
  --scrollbar-width: 16px;
}

@layer base {
  body {
    --at-apply: bg-zinc-900 text-white;
    --at-apply: flex flex-col;
    --at-apply: h-full min-h-screen;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }

  ::-webkit-scrollbar-thumb {
    --at-apply: transition-ease transition-colors duration-200;
    --at-apply: bg-[var(--scrollbar-color)];
    --at-apply: rounded-[var(--scrollbar-width)];
    --at-apply: border-5px border-solid border-transparent;
    --at-apply: bg-clip-content;
  }

  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--scrollbar-color-hover);
  }

  ::-webkit-scrollbar-thumb:active {
    --scrollbar-color: var(--scrollbar-color-active);
  }

  ::-webkit-scrollbar-track {
    --at-apply: border-l-px border-l-solid border-white/5;
    --at-apply: bg-transparent;
  }
}